createdBy{
	Company: Tech Connexion Indonesia;
	Author: Andreas Alexander Kaawoan;
	Date: 2018;
}

html{
	width: 100%;
	height: 100%;
	min-width: 1200px;
}

body{
	background-size: cover;
	margin:auto;
	padding:0px;
	width:96%;
	height: 100%;
}

@media only screen and (min-width: 1367px) {
  body {
	width:1366px;
  }
}

textarea{
	resize: none;
}

@keyframes header{
	0% {background-color: rgb(75,75,75,80%);}
	25% {background-color: rgb(105,105,105,80%);}
	50% {background-color: rgb(125,125,125,80%);}
	75% {background-color: rgb(105,105,105,80%);}
	100% {background-color: rgb(75,75,75,80%);}
}

.headerNews{
	margin-bottom: 5px;
	width: 100%;
	height: 20px;
	background-color: rgb(75,75,75,80%);
	color: white;
	border-style: solid;
	border-color: rgb(50,50,50);
	border-width: 1px;
	border-top-width: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: verdana;
	font-size: 15px;
	animation-name: header;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.navbar{
	margin: auto;
	width: 100%;
	height: auto;
	min-height: 118px;
	background-color: rgb(25,25,25,0.5);
	color: white;
	border-style: solid;
	border-width: 0px;
	border-color: rgb(25,25,25,0.5);
	box-shadow: 2px 8px 8px 2px rgb(50,50,50);
}

.navbar .logo{
	float: left;
	width: 175px;
	height: auto;
	text-align: center;
	padding-top: 10px;
	padding-left: 5px;
}

.navbar .logo img{
	width: 70%;
	height: 50%;
}

.navbar .logo h1{
	font-size: 10px;
	text-shadow: 0px 0px 5px whitesmoke;
}

.navbar .menu{
	float: right;
	margin-top: 2px;
	width: 84%;
	height: 120px;
	text-align: center;
}

.navbar .menu .login{
	float: right;
	width: 10%;
	height: 100%;
	text-align: center;
}

.navbar .menu .link{
	float: right;
	width: 90%;
	height: 70px;
	padding-top: 50px;
}

@keyframes navbar-link-normal{
	from{
		margin-left: 20px;
		margin-right: 10px;
		font-size: 25px;
		color: orange;
		background-color: rgb(225,225,225,0.5);
		border-width: 0px 3px 0px 3px;
		border-color: darkorange;
		text-shadow: -2px 2px 3px rgb(10,10,10);
	}

	to{
		margin-left: 0px;
		margin-right: -1%;
		font-size: 15px;
		color: white;
		background-color: rgb(0,0,0,0);
		border-width: 0px 3px 0px 3px;
		border-color: rgb(100,100,100,0.5);
		text-shadow: 5px 5px 2px rgb(20,20,20);
	}
}

.navbar .menu .link a{
	margin-right: -1%;
	text-decoration: none;
	font-family: verdana;
	font-size: 15px;
	color: white;
	border-style: solid;
	border-width: 0px 3px 0px 3px;
	border-color: rgb(100,100,100,0.5);
	padding: 10px 30px 10px 30px;
	text-shadow: 5px 5px 2px rgb(20,20,20);
	animation-name: navbar-link-normal;
	animation-duration: 0.5s;
}

@keyframes navbar-link-hover{
	from{
		margin-left: 0px;
		margin-right: -1%;
		font-size: 15px;
		color: white;
		background-color: rgb(0,0,0,0);
		border-width: 0px 3px 0px 3px;
		border-color: rgb(100,100,100,0.5);
		text-shadow: 5px 5px 2px rgb(20,20,20);
	}

	to{
		margin-left: 20px;
		margin-right: 10px;
		font-size: 25px;
		color: orange;
		background-color: rgb(225,225,225,0.5);
		border-width: 0px 3px 0px 3px;
		border-color: darkorange;
		text-shadow: -2px 2px 3px rgb(10,10,10);
	}
}

.navbar .menu .link a:hover , .navbar .menu .link a:focus {
	margin-left: 20px;
	margin-right: 10px;
	font-size: 25px;
	color: orange;
	background-color: rgb(225,225,225,0.5);
	border-width: 0px 3px 0px 3px;
	border-color: darkorange;
	text-shadow: -2px 2px 3px rgb(10,10,10);
	animation-name: navbar-link-hover;
	animation-duration: 0.5s;
}

@keyframes navbar-link-selected-normal{
	from{
		margin-left: 20px;
		margin-right: 10px;
		font-size: 25px;
		color: orange;
		text-shadow: none;
	}

	to{
		margin-left: 2px;
		margin-right: -1%;
		font-size: 15px;
		color: white;
		text-shadow: 2px 2px 3px rgb(205,205,205);
	}
}

.navbar .menu .link #btnselected{
	margin-left: 2px;
	background-color: rgb(30,30,30,0.5);
	border-width: 3px;	
	border-radius: 10px;
	text-shadow: 2px 2px 3px rgb(205,205,205);
	animation-name: navbar-link-selected-normal;
	animation-duration: 0.5s;
}

@keyframes navbar-link-selected-hover{
	from{
		margin-left: 2px;
		margin-right: -1%;
		font-size: 15px;
		color: white;
		text-shadow: 2px 2px 3px rgb(205,205,205);
	}

	to{
		margin-left: 20px;
		margin-right: 10px;
		font-size: 25px;
		color: orange;
		text-shadow: none;
	}
}

.navbar .menu .link #btnselected:hover , .navbar .menu .link #btnselected:focus{
	margin-left: 20px;
	background-color: rgb(30,30,30,0.5);
	color: orange;
	border-width: 3px;	
	border-radius: 10px;
	border-color: rgb(100,100,100,0.5);
	text-shadow: none;
	animation-name: navbar-link-selected-hover;
	animation-duration: 0.5s;
}

.navbar .menu .link .dropdown-text{
	display: none;
	width: 30%;
	height: 100px;
	display: block;
	text-align: left;
}

.navbar .menu .link .dropdown-text a{
	display: none;
	color: black;
	border-style: none;
	animation-name: none;
	text-shadow: none;
	font-family: arial-black;
	font-size: 20px;
	background-color: gray;
	padding: 0px;

}

.navbar .menu .login .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .menu .login .dropdown img{
	width: 80px;
	height: 80px;
	margin-top: 25%;
	background-color: white;
	border-radius: 100%;
	box-shadow: 0px 0px 5px rgb(210,210,210);
	animation-name: navbar-menu-login-normal;
	animation-duration: 0.5s;
}

@keyframes navbar-menu-login-hover{
	from{
		box-shadow: 0px 0px 5px rgb(210,210,210);
	}
	to{
		box-shadow: 0px 0px 20px 5px rgb(210,210,210);
	}
}

.navbar .menu .login .dropdown:hover img {
	box-shadow: 0px 0px 20px 5px rgb(210,210,210);
	animation-name: navbar-menu-login-hover;
	animation-duration: 0.5s;
}

@keyframes navbar-menu-login-normal{
	from{
		box-shadow: 0px 0px 20px 5px rgb(210,210,210);
	}
	to{
		box-shadow: 0px 0px 5px rgb(210,210,210);
	}
}

.navbar .menu .login .dropdown .dropdown-content {
  display: none;
  position: absolute;
  margin-left: -200%;
  width: 300%;
  background-color: rgb(170,170,170,0.5);
  box-shadow: 2px 2px 5px 3px rgb(50,50,50);
  z-index: 1;
}

.navbar .menu .login .dropdown .dropdown-content a {
  color: white;
  padding: 4px 16px;
  height: 32px;
  text-decoration: none;
  display: block;
}

.navbar .menu .login .dropdown .dropdown-content img {
	width: 100%;
	height: 30px;
	margin-top: 5%;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
	animation-name: none;
}

.navbar .menu .login .dropdown .dropdown-content a:hover {background-color: #ddd;color: rgb(80,80,80);}

.navbar .menu .login .dropdown:hover .dropdown-content {display: block;}

@keyframes btngreen-normal{
	from{
		background-color: rgb(190,110,5);
		border-color: rgb(20,20,20);
	}
	to{
		background-color: green;
		border-color: darkgreen;
	}
}

@keyframes btnred-normal{
	from{
		background-color: rgb(190,110,5);
		border-color: rgb(20,20,20);
	}
	to{
		background-color: red;
		border-color: black;
	}
}


@keyframes btngreen-hover{
	from{
		background-color: green;
		border-color: darkgreen;
	}
	to{
		background-color: rgb(190,110,5);
		border-color: rgb(20,20,20);
	}
}

.left{
	float: left;
}

.center{
	text-align: center;
}

.right{
	float: right;
}

.bar-comment-posted{
	margin-top: 20px;
	padding: 1%;
	display: block;
	background-image: url("../img_html/bg3.jpg");
	border-style: solid;
	border-width: 2px 0px 2px 0px;
	border-color: rgb(50,50,50);
	border-radius: 10px;
	box-shadow: 2px 2px 5px 2px rgb(50,50,50);
}

.bar-comment-posted textarea{
	padding: 0.5px 1% 0.5px 1%;
	width: 97%;
	height: auto;
	min-height: 80px;
	font-family: tahoma;
	font-size: 16px;
	color: white;
	background-color: rgb(80,80,80,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(100,100,100);
	text-decoration: none;
}

.bar-comment-posted input[type=submit]{
	margin-top: 5px;
	margin-right: 1%;
	width: 23%;
	height: 25px;
}

.bar-comment-self{
	padding: 1%;
	display: block;
	background-color: rgb(150,150,150,0.5);
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: gray;
	box-shadow: 2px 2px 5px 1px rgb(50,50,50);
}

.bar-comment-self textarea{
	padding: 0.5px 1% 0.5px 1%;
	width: 97%;
	height: 60px;
	font-family: tahoma;
	font-size: 16px;
	color: white;
	background-color: rgb(190,190,190,0.5);
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	text-decoration: none;
}

.bar-comment-self input[type=submit]{
	margin-top: 5px;
	margin-right: 1%;
	float: right;
	width: 23%;
	height: 25px;
}

.box-ublue-1{
	padding: 2%;
	width: 36%;
	height: 100px;
	background-color: darkblue;
	background-image: url("../img_html/ublue-1.jpg");
	background-size: cover;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0,0,50);
	border-radius: 10px;
	box-shadow: 2px 2px 5px 3px rgb(50,50,50);
	cursor: pointer;
}

.box-ublue-3{
	padding: 2%;
	width: 36%;
	height: 100px;
	background-color: darkblue;
	background-image: url("../img_html/ublue-3.jpg");
	background-size: cover;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0,0,50);
	border-radius: 10px;
	box-shadow: 2px 2px 5px 3px rgb(50,50,50);
	cursor: pointer;
}

.box-w30-h250-blue{
	margin: 0px 2% 50px 0px;
	padding: 2%;
	width: 26%;
	height: 250px;
	background-image: linear-gradient(to top, rgb(0,0,250,0.3) , rgb(0,0,0,0.3));
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgb(0,0,210);
	box-shadow: 2px 2px 5px 2px rgb(50,50,50);
}

.box-w30-h250-blue:hover , .box-w30-h250-blue:focus{
	background-image: linear-gradient(to top, rgb(210,210,0,0.3) , rgb(0,0,0,0.3));
	border-color: rgb(255,255,0);
}

.box-w30-h250-blue img{
	width: 100%;
	height: 150px;
}

.progress-slide{
	margin-right: 5%;
	margin-bottom: 20px;
	float: left;
	width: 45%;
	height: 190px;
}

.progress-slide img{
	width: 100%;
	height: 100%;
	margin-bottom: -195px;
	box-shadow: 2px 2px 5px 5px rgb(50,50,50);
}

.progress-slide .labeling{
	width: auto;
	height: auto;
	background-image: linear-gradient(to right, rgb(20,20,20) , rgb(90,90,90));
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	opacity: 0.5;
	box-shadow: 2px 2px 2px 2px rgb(20,20,20);
	cursor: pointer;
}

.progress-slide .labeling:hover , .progress-slide .labeling:focus{
	opacity: 1.0;
}

.progress-slide .label-dev{
	margin-top: 92px;
}

.progress-slide .label-label{
	cursor: default;
}

.progress-slide .progress{
	position: relative;
	width: 98%;
	height: auto;
	background-color: rgb(180,180,180,0.5);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(100,100,100,0.5);
	border-radius: 10px;
}

.progress-slide .progress .label-progress{
	height: 20px;
	background-image: linear-gradient(to right, red , blue);
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	opacity: 0.5;
}

.progress-slide .progress .label-progress:hover , .content-left-right .inner .progress-slide .progress .label-progress:focus{
	opacity: 1.0;
}

.btn-option{
	margin-left: 2%;
	width: 18%;
	height: 30px;
}

.btn-w90-h40-square{
	width: 90%;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	font-size: 13px;
	font-family: arial;
	cursor: pointer;
}

@keyframes btn-w90-h40-square-hover{
	from{
		box-shadow: none;
	}

	to{
		box-shadow: 1px 1px 2px 1px rgb(50,50,50);
	}
}

.btn-w90-h40-square:hover,.btn-w90-h40-square:focus{
	box-shadow: 1px 1px 2px 1px rgb(50,50,50);
	animation-name: btn-w90-h40-square-hover;
	animation-duration: 0.25s;
}

.btn-w40-h40-square{
	width: 40%;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	font-size: 13px;
	font-family: arial;
	cursor: pointer;
}

.btn-w30-h40-square{
	width: 30%;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	font-size: 13px;
	font-family: arial;
	cursor: pointer;
}

.btn-blue{
	color: blue;
}

.btn-green{
	background-color: green;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: darkgreen;
	cursor: pointer;
	box-shadow: 2px 2px 2px 2px rgb(50,50,50);
	animation-name: btngreen-normal;
	animation-duration: 0.25s;
}

.btn-red{
	background-color: red;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: darkred;
	cursor: pointer;
	box-shadow: 2px 2px 2px 2px rgb(50,50,50);
	animation-name: btnred-normal;
	animation-duration: 0.25s;
}

.btn-green:hover , .btn-green:focus{
	background-color: rgb(190,110,5);
	border-color: rgb(120,50,5);
	animation-name: btngreen-hover;
	animation-duration: 0.25s;
}

.btn-red:hover , .btn-red:focus{
	background-color: rgb(190,110,5);
	border-color: rgb(120,50,5);
	animation-name: btngreen-hover;
	animation-duration: 0.25s;
}

.btn-transparent{
	background-color: rgb(120,120,120,0.3);
	border-color: rgb(80,80,80);
	color: white;
	text-shadow: 1px 1px 2px rgb(50,50,50);
}

.btn-transparent2{
	background-color: rgb(120,120,120,0.3);
	border-style: solid;
	border-color: white;
	color: white;
	text-shadow: 1px 1px 2px rgb(50,50,50);
}

@keyframes btn-transparent-hover{
	from{
		background-color: rgb(120,120,120,0.3);
	}

	to{
		background-color: rgb(255,255,255,0.2);
	}
}

.btn-transparent:hover,.btn-transparent:focus{
	background-color: rgb(255,255,255,0.2);
	animation-name: btn-transparent-hover;
	animation-duration: 0.25s;
}

.btn-transparent2:hover,.btn-transparent2:focus{
	background-color: rgb(255,255,255,0.2);
	animation-name: btn-transparent-hover;
	animation-duration: 0.25s;
}

.btn-vote-yes-apy{
	width: 20%;
	height: 80px;
	background-color: transparent;
	color: transparent;
	background-image: url("../img_html/vote_yes_apy.png");
	background-size: cover;
	border-style: none;
	cursor: pointer;
}

.btn-vote-yes{
	width: 20%;
	height: 80px;
	background-color: transparent;
	color: transparent;
	background-image: url("../img_html/vote_yes.png");
	background-size: cover;
	border-style: none;
	cursor: pointer;
}

.btn-vote-no-apy{
	width: 20%;
	height: 80px;
	background-color: transparent;
	color: transparent;
	background-image: url("../img_html/vote_no_apy.png");
	background-size: cover;
	border-style: none;
	cursor: pointer;
}

.btn-vote-no{
	width: 20%;
	height: 80px;
	background-color: transparent;
	color: transparent;
	background-image: url("../img_html/vote_no.png");
	background-size: cover;
	border-style: none;
	cursor: pointer;
}

.btn-height-medium{
	height: 23px;
}

.cursor-hand{
	cursor: pointer;
}

.form-big input{
	margin-top: 5px;
}

.form-big input[type=text] , .form-big input[type=password]{
	width: 50%;
	height: 25px;
	padding: 2%;
	color: black;
	background-color: rgb(220,220,200,0.5);
	text-align: center;
	font-size: 18px;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	border-color: gray;
}

.form-big input[type=text]:focus , .form-big input[type=password]:focus{
	border-width: 2px;
	border-color: lightblue;	
}

.form-big input[type=submit]{
	width: 50%;
	height: 40px;
	font-size: 18px;
}

.form-small td{
	width: 40%;
	font-family: arial;
	font-size: 100%; 
	color: white;
	text-shadow: 1px 1px 4px rgb(50,50,50);
}

.form-small input,.form-small select, .form-small textarea{
	margin-top: 3px;
	margin-bottom: 10px;
	padding-left: 1%;
	background-color: rgb(150,150,150,0.5);
	color: white;
	font-family: Arial;
	font-size: 18px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(80,80,80);
}

.form-small input:focus, .form-small select:focus, .form-small textarea:focus{
	border-color: white;
}

.form-small input[type=text] , .form-small input[type=password]{
	width: 79%;
	height: 25px;
}

.form-small input[type=submit]{
	width: 30%;
	height: 50px;
	background-color: green;
	border-radius: 10px;
}

.form-small input[type=submit]:hover , .form-small input[type=submit]:focus{
	background-color: rgb(190,110,5);
}

.form-small .large{
	width: 80%;
	height: 100px;
}

.form-small #intl-code{
	width: 15%;
	margin-right: 1%;
}

.form-small #phone{
	width: 50%;
}

.form-small #label-terms{
	text-shadow: none;
}

.img-border-shadow{
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px 2px rgb(50,50,50);
}

.img-border-shine-tiny{
	border-style: solid;
	border-width: 0.5px;
	box-shadow: 0.5px 0.5px 5px 0.5px rgb(255,255,255);
}

.img-fw-fh-circle-hoverable{
	background-color: white;
	border-radius: 100%;
}

.img-fw-fh-circle-hoverable:hover,.img-fw-fh-circle-hoverable:focus{
	filter: brightness(50%);
}

.img-w100-h400{
	width: 100%;
	height: 400px;
	border-width: 3px;
	border-color: rgb(50,50,50,0.5);
	border-radius: 15px 12px 0px 0px;
	box-shadow: 3px 3px 5px 2px rgb(50,50,50);
}

.img-w100-h170{
	width: 100%;
	height: 170px;
	border-width: 3px;
	border-color: rgb(50,50,50,0.5);
	border-radius: 3%;
	box-shadow: 3px 3px 5px 2px rgb(50,50,50);
}

.img-w90-h220-circle-hoverable{
	width: 90%;
	height: 220px;
	background-color: white;
	border-radius: 100%;
	box-shadow: 3px 3px 5px 2px rgb(50,50,50);
}

.img-w90-h220-circle-hoverable:hover,.img-w90-h220-circle-hoverable:focus{
	filter: brightness(50%);
}

.img-w90-h190-circle-hoverable{
	width: 90%;
	height: 190px;
	background-color: white;
	border-radius: 100%;
	box-shadow: 3px 3px 5px 2px rgb(50,50,50);
}

.img-w90-h190-circle-hoverable:hover,.img-w90-h190-circle-hoverable:focus{
	filter: brightness(50%);
}

.img-w70-h120{
	width: 70%;
	height: 120px;
	border-width: 3px;
	border-color: rgb(50,50,50,0.5);
	border-radius: 3%;
	box-shadow: 3px 3px 5px 2px rgb(50,50,50);
}

.img-w70-h80-hoverable{
	width: 70%;
	height: 80px;
	box-shadow: 3px 3px 5px 2px rgb(50,50,50);
}

.img-w70-h80-hoverable:hover,.img-w70-h80-hoverable:focus{
	filter: brightness(50%);
}

.img-w45-h70-hoverable{
	width: 45%;
	height: 70px;
	border-width: 3px;
	border-color: rgb(50,50,50,0.5);
	border-radius: 3%;
	box-shadow: 3px 3px 5px 2px rgb(50,50,50);
}

.img-w45-h70-hoverable:hover,.img-w45-h70-hoverable:focus{
	filter: brightness(50%);
}

.img-w45-h70-circle-hoverable{
	width: 45%;
	height: 70px;
	border-radius: 100%;
	box-shadow: 3px 3px 5px 2px rgb(50,50,50);
}

.img-w45-h70-circle-hoverable:hover,.img-w45-h70-circle-hoverable:focus{
	filter: brightness(50%);
}

.img-w20-h120-border-hoverable{
	width: 20%;
	height: 120px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: black;
	box-shadow: 2px 2px 2px 2px rgb(50,50,50,0.5);
}

.img-w20-h120-border-hoverable:hover,.img-w20-h120-border-hoverable:focus{
	filter: brightness(50%);
}

.input-text-border-white-w90-h30{
	padding: 0px 1% 0px 1%;
	width: 88%;
	height: 30px;
	background-color: rgb(255,255,255,0.7);
	color: rgb(50,50,50);
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 10px;
	border-color: rgb(220,220,220);
}

.input-text-border-white-w90-h30:focus{
	background-color: white;
	border-color: orange;
}

.input-text-noborder-gray-w90-h30{
	width: 90%;
	height: 30px;
	background-color: rgb(50,50,50,0.0);
	color: white;
	border-width: 0px 0px 1px 0px;
	border-color: white;
} 

.search-100{
	padding-left: 1%; 
	width: 99%;
	height: 30px;
	background-color: rgb(200,200,200,0.2);
	color: white;
	font-family: tahoma;
	font-size: 130%;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: white;
}

.select-w30-h30-gray{
	width: 30%;
	height: 30px;
	background-color: rgb(150,150,150,0.5);
	color: white;
	font-size: 70%;
	border-style: solid;
	border-width: 1px;
}

.table-double-w80{
	width: 80%;
}

.table-double-w80 .sl{
	width: 35%;
}

.table-double-w80 .sr{
	width: 65%;
}

.table-double-w100{
	width: 100%;
}

.table-double-w100 .sl{
	width: 35%;
}

.table-double-w100 .sr{
	width: 65%;
}

.table-w100-h20-blue{
	width: 100%;
	box-shadow: 2px 2px 5px 2px rgb(20,20,20);
}

.table-w100-h20-blue tr{
	height: 22px;
}

.table-w100-h20-blue tr:hover{
	height: 25px;
	background-color: darkorange;
	text-shadow: 1px 1px 1px rgb(20,20,20);
}

.table-w100-h20-blue th{
	background-color: rgb(0,0,200,0.3);
}

.table-w100-h20-blue td{
	background-color: rgb(100,100,120,0.5);
	padding: 1%;
}

.table-w100-h30-blue{
	width: 100%;
	box-shadow: 2px 2px 5px 2px rgb(20,20,20);
}

.table-w100-h30-blue tr{
	height: 32px;
}

.table-w100-h30-blue tr:hover{
	height: 35px;
	background-color: darkorange;
	text-shadow: 1px 1px 1px rgb(20,20,20);
}

.table-w100-h30-blue th{
	background-color: rgb(0,0,200,0.3);
}

.table-w100-h30-blue td{
	background-color: rgb(100,100,120,0.5);
}


.textarea-bright{
	color: white;
	background-color: rgb(110,110,110,0.5);
	font-family: verdana;
	font-size: 90%;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	border-color: rgb(90,90,90,0.5 );
	box-shadow: 4px 4px 5px 2px rgb(80,80,80);
	text-shadow: 1px 1px 3px rgb(50,50,50);
	text-decoration: none;
	resize: none;
}

.textarea-w90-h50-transparent-inner{
	width: 90%;
	height: 100px;
	background-color: rgb(100,100,100,0.25);
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	font-family: verdana;
}

.textarea-w90-h50-transparent-inner:focus{
	background-color: rgb(255,255,255,0.25);
	border-color: orange;
}

.textbox-w100-1{
	margin: auto;
	padding: 2%;
	width: 96%;
	height: auto;
	font-family: arial;
	font-size: 100%; 
	background-color: rgb(0,0,0,0);
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	border-color: white;
	text-shadow: 1px 1px 2px rgb(50,50,50);
}

.text-low-tiny{
	font-size: 12px;
}

.text-tiny{
	font-size: 14px;
}

.text-low-small{
	font-size: 16px;
}

.text-small{
	font-size: 18px;
}

.text-low-medium{
	font-size: 22px;
}

.text-medium{
	font-size: 26px;
}

.text-high-medium{
	font-size: 30px;
}

.text-big{
	font-size: 34px;
}

.text-blue{
	color: blue;
}

.text-gray{
	color: rgb(70,70,70);
}

.text-green{
	color: green;
}

.text-red{
	color: red;
	text-shadow: none;
}

.text-lightred{
	color: rgb(255,100,100);
}

.text-white-shadow{
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 1px rgb(20,20,20);
}

.text-big-black{
	font-style: arial-black;
	font-size: 15px;
	color: black;
}

.text-blue:hover , .text-blue:focus{
	color: rgb(150,50,5);
}

.text-white-shadow:hover , .text-white-shadow:focus{
	color: orange;
}

.title-white{
	font-family: georgia;
	text-shadow: 3px 3px 3px rgb(20,20,20);
	color: rgb(235,220,200);
}

.title-white-big{
	font-family: georgia;
	font-size: 45px;
	color: white;
	text-shadow: 2px 3px 5px rgb(50,50,50);
}

@keyframes text-block-gray-hover{
	from{
		padding: 0px 0px 0px 0px;
		background-color: none;
		border-width: 0px 0px 2px 0px;
		border-color: rgb(80,80,80);
	}

	to{
		padding: 0px 7px 0px 7px;
		background-color: rgb(100,100,100,0.5);
		border-width: 2px 2px 2px 2px;
		border-color: orange;
	}
}

@keyframes text-block-gray-normal{
	from{
		padding: 0px 7px 0px 7px;
		background-color: rgb(100,100,100,0.5);
		border-width: 2px 2px 2px 2px;
		border-color: orange;
	}

	to{
		padding: 0px 0px 0px 0px;
		background-color: none;
		border-width: 0px 0px 2px 0px;
		border-color: rgb(80,80,80);
	}
}

.text-block-hover-gray{
	font-family: tahoma;
	color: white;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: rgb(80,80,80);
	text-shadow: 2px 2px 2px rgb(50,50,50);
	animation-name: text-block-gray-normal;
	animation-duration: 1s;
}

.text-block-hover-gray:hover,.text-block-hover-gray:focus,.text-block-hover-gray:active{
	padding: 0px 7px 0px 7px;
	background-color: rgb(100,100,100,0.5);
	border-width: 2px 2px 2px 2px;
	border-color: orange;
	cursor: pointer;
	animation-name: text-block-gray-hover;
	animation-duration: 1s;
}

@keyframes text-block-gray-hover2{
	from{
		padding: 0px 0px 0px 0px;
		background-color: none;
		border-color: rgb(180,180,180);
	}

	to{
		padding: 0px 12px 0px 12px;
		background-color: rgb(50,50,50,0.5);
		border-color: orange;
	}
}

@keyframes text-block-gray-normal2{
	from{
		padding: 0px 12px 0px 12px;
		background-color: rgb(50,50,50,0.5);
		border-color: orange;
	}

	to{
		padding: 0px 0px 0px 0px;
		background-color: none;
		border-color: rgb(180,180,180);
	}
}

.text-block-hover-gray2{
	font-family: tahoma;
	color: white;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: rgb(180,180,180);
	text-shadow: 2px 2px 2px rgb(50,50,50);
	animation-name: text-block-gray-normal2;
	animation-duration: 1s;
}

.text-block-hover-gray2:hover,.text-block-hover-gray2:focus,.text-block-hover-gray2:active{
	padding: 0px 12px 0px 12px;
	background-color: rgb(50,50,50,0.5);
	border-width: 0px 0px 2px 0px;
	border-color: orange;
	cursor: pointer;
	animation-name: text-block-gray-hover2;
	animation-duration: 1s;
}

.home-slideshow{
	width: 100%;
	height: 450px;
	margin-top: 50px;
	background-color: rgb(50,50,50,0.5);
	border-radius: 8px;
}

@keyframes home-slideshow-change{
	0%{opacity: 0.0}
	10%{opacity: 1.0}
	90%{opacity: 1.0}
	100%{opacity: 0.0}
}

.home-slideshow .index-slide{
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
	border-color: rgb(40,40,40);
	box-shadow: 2px 8px 10px 5px rgb(50,50,50);
	animation-name: home-slideshow-change;
	animation-duration: 10s;
}

.home-slideshow .index-slide img{
	width: 100%;
	height: 100%;
	margin-bottom: -380px;
	border-radius: 8px;
}

.home-slideshow .index-slide h1{
	font-size: 60px;
	color: rgb(220,220,50);
	text-shadow: 4px 4px 10px rgb(10,10,10);	
}

.home-slideshow .index-slide h3{
	text-shadow: 2px 0px 5px rgb(200,200,200);
}

.home-slideshow .index-slide a{
	padding: 5px;
	width: 15%;
	height: 30px;
	text-align: center;
	background-color: rgb(255,255,255,0);
	border-style: solid;
	border-color: rgb(250,140,10);
	border-width: 2px;
	font-size: 100%;
	font-family: arial;
	color: darkorange;
	text-shadow: 2px 2px 2px rgb(50,50,50);
	text-decoration: none;
}

.home-slideshow .index-slide a:hover , .home-slideshow .index-slide a:focus{
	padding: 10px;
	box-shadow: 2px 2px 4px 4px gray;
}

.home-slideshow .index-slide .indicator{
	width: 100%;
	height: auto;
	display: inline-block;
}

.home-slideshow .index-slide .indBtn{
	text-align: center;
	margin-top: -95px;
	width: 4%;
	height: 70px;
	background-color: rgb(90,90,90,0.2);
	color: rgb(160,160,250,0.5);
	border-style: solid;
	border-width: 0.5px;
	border-radius: 10%;
	border-color: rgb(200,200,255);
	font-family: arial black;
	font-size: 50px;
}

@keyframes home-slideshow-indBtn-hover{
	from{
		background-color: rgb(90,90,90,0.2);
		color: rgb(160,160,250,0.5);
		border-color: rgb(200,200,255);
		box-shadow: none;
	}

	to{
		background-color: rgb(110,110,160,0.5);
		color: rgb(160,160,250,1);
		border-color: lightblue;
		box-shadow: 0px 2px 10px 5px rgb(50,50,50);
	}
}

.home-slideshow .index-slide .indBtn:hover , .home-slideshow .index-slide .indBtn:focus{
	background-color: rgb(110,110,160,0.5);
	color: rgb(160,160,250,1);
	border-color: lightblue;
	box-shadow: 0px 2px 10px 5px rgb(50,50,50);
	animation-name: home-slideshow-indBtn-hover;
	animation-duration: 0.25s;
}

.home-slideshow .index-slide .btnPrev{
	float: left;
	margin-left: 0.5%;
}

.home-slideshow .index-slide .btnNext{
	float: right;
	margin-right: 0.5%;
}

@keyframes home-slideshow-progress{
	0%{width: 1px}
	100%{width: 100%}
}

.home-slideshow .index-slide .progress{
	position: relative;
	margin-top: 142px;
	width: 1px;
	height: 8px;
	background-color: rgb(255,255,255,0.5);
	border-radius: 8px;
	border-color: rgb(255,255,255,0.5);
	box-shadow: 2px -2px 10px 2px lightblue;
	animation-name: home-slideshow-progress;
	animation-duration: 10s;
}

.content-element{
	background-color: rgb(180,180,180,0.5);
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgb(120,120,220);
	box-shadow: 0px 2px 10px 5px rgb(50,50,50);
}

.content-element-dark{
	background-color: rgb(80,80,80,0.5);
	color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgb(20,20,20,0.5);
	box-shadow: 4px 4px 10px 4px rgb(50,50,50);
}

.content-element-blue{
	background-image: url("../img_html/bg2.png");
	color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgb(20,20,20,0.5);
	box-shadow: 4px 4px 10px 4px rgb(250,250,250);
}

.content-left-right{
	margin-top: 50px;
	float: left;
	width: 22%;
	height: auto;
}

.content-left-right .inner{
	margin-bottom: 20px;
	padding-left: 3%;
	padding-bottom: 20px;
	width: 97%;
	height: auto;
}

.content-left-right .flag-icon{
	width: 47%;
	height: 80px;
	opacity: 0.5;
}

.content-left-right .flag-icon:hover{
	opacity: 1.0;
}

.content-left-right .inner .progress-slide{
	width: 95%;
	height: 180px;
}

.content-left-right .inner .progress-slide img{
	width: 100%;
	height: 100%;
	margin-bottom: -185px;
	box-shadow: 2px 2px 5px 5px rgb(50,50,50);
}

.content-left-right .inner .progress-slide .labeling{
	width: auto;
	height: auto;
	background-image: linear-gradient(to right, rgb(20,20,20) , rgb(90,90,90));
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	opacity: 0.5;
	box-shadow: 2px 2px 2px 2px rgb(20,20,20);
	cursor: pointer;
}

.content-left-right .inner .progress-slide .labeling:hover , .content-left-right .inner .progress-slide .labeling:focus{
	opacity: 1.0;
}

.content-left-right .inner .progress-slide .label-dev{
	margin-top: 82px;
}

.content-left-right .inner .progress-slide .label-label{
	cursor: default;
}

.content-left-right .inner .progress-slide .progress{
	position: relative;
	width: 98%;
	height: auto;
	background-color: rgb(180,180,180,0.5);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(100,100,100,0.5);
	border-radius: 10px;
}

.content-left-right .inner .progress-slide .progress .label-progress{
	height: 20px;
	background-image: linear-gradient(to right, red , blue);
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	opacity: 0.5;
}

.content-left-right .inner .progress-slide .progress .label-progress:hover , .content-left-right .inner .progress-slide .progress .label-progress:focus{
	opacity: 1.0;
}

.content-left-right .inner .label-date{
	font-size: 13px;
}

.content-center{
	float: left;
	margin-top: 50px;
	margin-left: 2%;
	margin-right: 2%;
	padding: 0px 2% 2% 2%;
	width: 46%;
	height: auto;
}

.content-center .product-box{
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
	padding: 5px 5px 0px 5px;
	width: 45%;
	height: auto;
	background-color: rgb(220,220,220,0.1);
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgb(180,180,180,0.5);
	box-shadow: 2px 2px 10px 5px rgb(80,80,80);
	cursor: pointer;
}

@keyframes content-product-box-hover{
	from{
		background-color: rgb(220,220,220,0.1);
	}

	to{
		background-color: rgb(220,220,220,0.7);
	}
}

.content-center .product-box:hover{
	background-color: rgb(220,220,220,0.7);
	animation-name: content-product-box-hover;
	animation-duration: 0.5s;
}

.content-center .product-box a{
	text-decoration: none;
}

.content-center .product-box img{
	margin-bottom: -10px;
	width: 90%;
	height: 150px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(110,110,110);
}

.content-center .product-box .text-big-black{
	margin-bottom: -20px;
}

.content-center .news-box{
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
	padding: 5px 5px 0px 5px;
	width: 29%;
	height: 320px;
	background-color: rgb(220,220,220,0.1);
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgb(180,180,180,0.5);
	box-shadow: 2px 2px 10px 5px rgb(80,80,80);
	cursor: pointer;	
}

@keyframes content-news-box-hover{
	from{
		background-color: rgb(220,220,220,0.1);
	}

	to{
		background-color: rgb(220,220,220,0.7);
	}
}

.content-center .news-box:hover{
	background-color: rgb(220,220,220,0.7);
	animation-name: content-news-box-hover;
	animation-duration: 0.5s;
}

.content-center .news-box img{
	margin-bottom: -10px;
	width: 90%;
	height: 100px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(110,110,110);	
}

.content-center .news-box a{
	text-decoration: none;
}

.content-center .news-box .info{
	font-size: 12px;
	color: rgb(50,50,50,0.7);
}

.content-center-big-45-center{
	margin: auto;
	margin-top: 50px;
	padding: 2%;
	width: 45%;
	min-height: 380px;
	height: auto;
	text-align: center;
}

.content-center-big-50-center{
	margin: auto;
	margin-top: 50px;
	padding: 2%;
	width: 50%;
	min-height: 380px;
	height: auto;
	text-align: center;
}

.content-center-big-50-center .box-full-50{
	float: left;
	margin-top: 90px;
	margin-right: 2%;
	padding: 5px 5px 5px 5px;
	width: 46%;
	height: auto;
	background-color: rgb(220,220,220,0.1);
	font-family: arial;
	font-size: 100%; 
	color: white;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgb(180,180,180,0.5);
	box-shadow: 2px 2px 10px 5px rgb(80,80,80);
	text-shadow: 1px 2px 2px rgb(50,50,50);
	cursor: pointer;
}

@keyframes content-big-50-box-hover{
	from{
		background-color: rgb(220,220,220,0.1);
	}

	to{
		background-color: rgb(220,220,220,0.7);
	}
}

.content-center-big-50-center .box-full-50:hover{
	background-color: rgb(220,220,220,0.7);
	animation-name: content-big-50-box-hover;
	animation-duration: 0.5s;
}

.content-center-big-50-center .box-full-50 img{
	width: 90%;
	height: 150px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(110,110,110);
}

.content-center-big-50-default{
	margin: auto;
	margin-top: 50px;
	padding: 2%;
	width: 50%;
	min-height: 380px;
	height: auto;
}

.content-center-big-50-default .textbox{
	margin: auto;
	padding: 2%;
	width: 83%;
	height: auto;
	font-family: arial;
	font-size: 100%; 
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	border-color: white;
	text-shadow: 1px 1px 2px rgb(50,50,50);
}

.content-center-big-80-default{
	margin: auto;
	margin-top: 50px;
	padding: 2%;
	width: 75%;
	min-height: 380px;
	height: auto;
}

.content-center-big-80-default .product-box{
	margin-right: 2%;
	margin-bottom: 20px;
	padding: 5px 5px 15px 5px;
	width: 100%;
	height: 170px;
	background-color: rgb(220,220,220,0.1);
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgb(180,180,180,0.5);
	box-shadow: 2px 2px 10px 5px rgb(80,80,80);
	cursor: pointer;
}

.content-center-big-80-default .product-box:hover{
	background-color: rgb(220,220,220,0.7);
	animation-name: content-product-box-hover;
	animation-duration: 0.5s;
}

.content-center-big-80-default .product-box img{
	float: left;
	margin-bottom: -10px;
	width: 30%;
	height: 170px;	
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(110,110,110);
	box-shadow: 2px 2px 2px 2px rgb(50,50,50);
}

.content-center-big-80-default .product-box a{
	text-decoration: none;
}

.content-center-big-80-default .product-box .inner{
	float: left;
	margin-left: 1%;
	width: 50%;
	height: 100%;
}

.content-center-big-80-default .product-box button{
	width: 45%;
	height: 30px;
}

.content-center-big-80-default .img-big{
	width: 100%;
	height: 500px;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;
	border-color: rgb(50,50,50,0.5);
	box-shadow: 5px 5px 10px 5px rgb(50,50,50);
}

.content-center-big-80-default .img-big img{
	width: 100%;
	height: 100%;
	border-radius: 15px 12px 0px 0px;
	box-shadow: 2px 4px 5px 2px rgb(50,50,50);
}

.content-center-big-80-default .slide-selector{
	padding: 1%;
	margin-top: 10px;
	width: 98%;
	height: 100px;
}

.content-center-big-80-default .inner-big-left{
	float: left;
	margin-top: 15px;
	margin-right: 1%;
	padding: 2%;
	width: 64%;
	height: auto;
	min-height: 200px;
}

.content-center-big-80-default .inner-big-left .bar-comment-posted{
	width: 96%;
	height: 150px;
}

.content-center-big-80-default .inner-big-left .bar-comment-self{
	width: 96%;
	height: 100px;
}

.content-center-big-80-default .inner-small-right{
	float: left;
	margin-top: 15px;
	padding: 2%;
	width: 26%;
	height: auto;
	min-height: 200px;
}

.content-center-big-80-default .inner-small-right textarea{
	width: 95%;
	height: 100px;
}

.content-center-big-80-default .btn-big{
	width: auto;
	min-width: 80%;
	max-width: 100%;
	height: 40px;
	font-size: auto;
}

.content-center-big-80-default .inner-small-right .progress-base{
	position: relative;
	width: 98%;
	height: auto;
	background-color: rgb(180,180,180,0.5);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(100,100,100,0.5);
	border-radius: 10px;
}

.content-center-big-80-default .inner-small-right .progress-base .label-progress{
	height: 20px;
	background-image: linear-gradient(to right, red , blue);
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	opacity: 0.5;
}

.content-center-big-80-default .inner-small-right .progress-base .label-progress:hover{
	opacity: 1.0;
}

.content-center-big-100-default{
	margin-top: 50px;
	padding: 2%;
	width: 95%;
	min-height: 380px;
	height: auto;
}

.content-center-big-100-default .container-mini-left{
	float: left;
	margin-top: 20px;
	padding: 1%;
	width: 10%;
	height: auto;
	font-family: tahoma;
	font-size: 90%;
	text-align: center;
	border-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-radius: 10px;
	border-color: white;
}

.content-center-big-100-default .container-mini-left .label-title{
	font-size: 130%;
}

.content-center-big-100-default .container-small-left{
	float: left;
	margin-top: 20px;
	padding: 1%;
	width: 25%;
	height: auto;
	font-family: tahoma;
	font-size: 90%;
	text-align: center;
}

@keyframes container-middle-right{
	from {
		opacity: 0.0;
	}
	to {
		opacity: 1.0;
	}
}

.content-center-big-100-default .container-middle-right{
	float: left;
	margin-top: 20px;
	margin-left: 2%;
	padding: 1%;
	width: 65%;
	height: auto;
	min-height: 200px;
	font-family: tahoma;
	font-size: 90%;
	animation-name: container-middle-right;
	animation-duration: 3s;
}

.content-center-big-100-default .container-middle-right .progress-slide{
	margin-right: 5%;
	margin-bottom: 20px;
	float: left;
	width: 45%;
	height: 190px;
}

.content-center-big-100-default .container-middle-right .progress-slide img{
	width: 100%;
	height: 100%;
	margin-bottom: -195px;
	box-shadow: 2px 2px 5px 5px rgb(50,50,50);
}

.content-center-big-100-default .container-middle-right .progress-slide .labeling{
	width: auto;
	height: auto;
	background-image: linear-gradient(to right, rgb(20,20,20) , rgb(90,90,90));
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	opacity: 0.5;
	box-shadow: 2px 2px 2px 2px rgb(20,20,20);
	cursor: pointer;
}

.content-center-big-100-default .container-middle-right .progress-slide .labeling:hover , .content-left-right .inner .progress-slide .labeling:focus{
	opacity: 1.0;
}

.content-center-big-100-default .container-middle-right .progress-slide .label-dev{
	margin-top: 92px;
}

.content-center-big-100-default .container-middle-right .progress-slide .label-label{
	cursor: default;
}

.content-center-big-100-default .container-middle-right .progress-slide .progress{
	position: relative;
	width: 98%;
	height: auto;
	background-color: rgb(180,180,180,0.5);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(100,100,100,0.5);
	border-radius: 10px;
}

.content-center-big-100-default .container-middle-right .progress-slide .progress .label-progress{
	height: 20px;
	background-image: linear-gradient(to right, red , blue);
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	opacity: 0.5;
}

.content-center-big-100-default .container-middle-right .progress-slide .progress .label-progress:hover , .content-left-right .inner .progress-slide .progress .label-progress:focus{
	opacity: 1.0;
}

.content-center-big-100-default .container-big-right{
	float: left;
	margin-top: 20px;
	margin-left: 2%;
	padding: 1%;
	width: 83%;
	height: auto;
	min-height: 450px;
	font-family: tahoma;
	font-size: 90%;
}

.content-center-big-100-default .container-big-right .product-box{
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
	padding: 5px 5px 15px 5px;
	width: 90%;
	height: auto;
	background-color: rgb(220,220,220,0.1);
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgb(180,180,180,0.5);
	box-shadow: 2px 2px 10px 5px rgb(80,80,80);
	cursor: pointer;
}

.content-center-big-100-default .container-big-right .product-box:hover{
	background-color: rgb(220,220,220,0.7);
	animation-name: content-product-box-hover;
	animation-duration: 0.5s;
}

.content-center-big-100-default .container-big-right .product-box img{
	float: left;
	margin-bottom: -10px;
	width: 35%;
	height: 200px;	
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(110,110,110);
	box-shadow: 2px 2px 2px 2px rgb(50,50,50);
}

.content-center-big-100-default .container-big-right .product-box .inner{
	float: left;
	margin-left: 1%;
	width: 50%;
	height: 100%;
}

.content-center-big-100-default .container-big-right .news-box{
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
	padding: 5px 5px 0px 5px;
	width: 21.8%;
	height: 320px;
	background-color: rgb(220,220,220,0.1);
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgb(180,180,180,0.5);
	box-shadow: 2px 2px 10px 5px rgb(80,80,80);
	cursor: pointer;	
}

.content-center-big-100-default .container-big-right .news-box:hover{
	background-color: rgb(220,220,220,0.7);
	animation-name: content-news-box-hover;
	animation-duration: 0.5s;
}

.content-center-big-100-default .container-big-right .news-box img{
	margin-bottom: -10px;
	width: 90%;
	height: 120px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(110,110,110);	
}

.content-center-big-100-default .container-big-right .news-box a{
	text-decoration: none;
}

.content-center-big-100-default .container-big-right .news-box .info{
	font-size: 12px;
	color: rgb(50,50,50,0.7);
}

.content-center-big-fs-default{
	margin: auto;
	margin-top: 50px;
	padding: 2%;
	min-width: 20%;
	min-height: 380px;
	height: auto;
}

.content-center-fsfh-default{
	margin: auto;
	margin-top: 50px;
	padding: 2%;
	min-width: 20%;
	min-height: 30px;
	height: auto;
}

#webmask{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background-color: rgb(0,0,0,0.8);
}

.popup{
	display: none;
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 300px;
	background-color: rgb(220,220,220,0.8);
	border-style: solid;
	border-width: 2px;
	border-radius: 5%;
	border-color: rgb(20,20,20);
	box-shadow: 2px 2px 5px 2px rgb(50,50,50);
}

.footer{
	float: left;
	position: relative;
	bottom: 0;
	margin-top: 50px;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 5px; 
	width: 98%;
	height: 25px;
	background-color: rgb(10,10,10,0.5);
	color: white;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(40,40,40);
}