information-css{
	created_by : Alex Andre;
	position : Project Director;
	company : Tech Connexion Indonesia;
	year : 2019;
}

html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("../img_html/bgimage.png");
	background-size: 100% 100%;
	background-attachment: fixed;
}

button:disabled{
	cursor: not-allowed;
	background-color: rgb(180,180,180);
}

.main-left-full-1{
	width: 36%;
	height: auto;
	margin-left: 10%;
	margin-top: 90px;
	padding: 2%;
}

.main-center-full-1{
	width: 65%;
	height: auto;
	margin-left: 2%;
	margin-top: 90px;
	padding: 2%;
}

.main-left-full-1 input[type=number], .main-left-full-1 input[type=text], .main-left-full-1 input[type=password]{
	width: 100%;
	height: 30px;
}

.main-left-full-1 .btn-full{
	width: 75%;
	height: 60px;
}

.element-white-transparent-rounded{
	background-color: rgb(130,130,130,.1);
	color: rgb(255,255,255);
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 15px;
}

#info-modal{
	display: none;
	position: fixed;
	top: 1%;
	right: 1%;
	padding: 0.5%;
	width: 400px;
	min-height: 20px;
	height: auto;
	background-color: rgb(200,200,200,0.3);
	color: white;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: black;
	font-family: arial;
}

.form-type-1 input[type=number], .form-type-1 input[type=text] ,.form-type-1 input[type=password]{
	background-color: rgb(0,0,0,0);
	color: rgb(180,180,180);
	border-width: 0 0 1px 0;
	font-size: 15px;
}

.form-type-1 button{
	background-color: rgb(0,0,0,.5);
	color: white;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
}

.form-type-1 button:disabled{
	background-color: gray;
	cursor: not-allowed;
}

.form-type-2 input[type=number], .form-type-2 input[type=text], .form-type-2 input[type=password], textarea{
	background-color: rgb(0,0,0,0);
	color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	font-size: 16px;
}

.form-type-2 input, select, button{
	padding: 0 5px;
	margin: 10px 10px;
}

.form-type-2 textarea{
	padding: 10px 10px;
	margin: 10px 10px;
	font-family: arial;
	font-size: 16px;
}

.form-type-2 .inner{
	margin: 10px 10px;
}

.input-border-transparent{
	background-color: rgb(80,80,80,0.3);
	color: white;
	border-style: solid;
	border-radius: 10px;
}

.input-border-transparent option{
	color: black;
}

.title-medium{
	font-family: tahoma;
	font-size: 40px;
}

.label-small{
	font-family: arial;
	font-size: 20px;
}

.button-green-border-white{
	background-color: green;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	cursor: pointer;
}

.txt-warning{
	color: red;
}

.w10{
	width: 10% !important;
}

.w20{
	width: 20% !important;
}

.w40{
	width: 40% !important;
}

.w90{
	width: 90% !important;
}

.height-small{
	height: 30px;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.info-scrollable{
	max-height: 145px;
	overflow-y: auto;
}